

.body-initial {background-color: rgba(255,255,255,1);}.silex-id-1474394621033-3 {top: 5px; left: 0px; min-width: 600px;}.silex-id-1474394621032-2 {min-height: 600px; background-color: transparent; width: 600px;}.silex-id-1551042609123-0 {width: 600px; min-height: 100px; top: 127px; left: 0px;}
.text-element > .silex-element-content {font-family: 'Roboto', sans-serif; text-align: center;}body.silex-runtime {opacity: 1;}
